/* ==========================Global CSS=========================== */

.App {
  text-align: center;
  color: #fafafa;
}

* {
  box-sizing: border-box;
}

.page {
  text-align: center;
  /* max-height: 100vh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  background: linear-gradient( 45deg, rgba(171, 152, 122, 0.8), rgba(0, 0, 128, 0.4)), url(./assets/vallet.gif);
  background-size: cover;
  background-position: center center;
  color: white;
}

/* =================================New ======================= */

.newsItem {
  padding-top: 200px;
  padding-left: 20%;
  font-size: 16px;
  text-align: center;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 40px;
  color: white;
  letter-spacing: 0.34px;
}

.currency {
  border: 3px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 5px;
  color: white;
  background: green;
  font-weight: bold;
}

.logo {
  max-width: 80px;
  float: left;
}

#news_card {
  width: 18rem;
}

.header {
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  padding: 0;
}

/* ===========================Auth========================= */

.auth-container {
  margin: 10%;
  background-color: inherit;
  padding: 2rem;
  /* opacity: 1.9; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 800px solid;
  border-style: ridge;
  width: 35%;
}

.auth-container button {
  cursor: pointer;
  border-radius: 4px;
  width: 20vh;
  height: 4vh;
  z-index: auto;
  font-size: 18px;
  box-shadow: 10px 10px 5px;
}

form p {
  font-size: 20px;
}

.form-button {
  margin: 20px 0 10px 0;
  width: 20%;
  height: 55px;
  border: 1px solid;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.form-button:hover {
  background-color: #36713D;
}

.Join_button {
  padding-top: 40px;
}

.UserUpdate {
  min-height: 100vh;
}

#header-nav {
  float: right;
}

#header-nav li {
  display: inline;
  margin: 0 15px;
  justify-content: space-between;
}

#header-nav ul {
  justify-content: space-between;
}

#header-nav a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.landin {
  height: 100vh;
}

.reg_button {
  padding-top: 0px;
}

/* =================================Crypto Card ===================================== */

.landingpg {
  padding-top: 100px;
}

.AllCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  border-radius: 4px;
  width: 150px;
  height: 100px;
}

.card.gain {
  border: 1px solid green;
}

.card.loss {
  border: 1px solid red;
}

.card .name {
  padding: 8px 12px;
  font-weight: bold;
}

.card .name span {
  margin: 0px 0px 0px 4px;
  font-weight: normal;
}

.card .percantage {
  font-size: 0.9 em
}

.card .percantage.gain, .card .price.gain {
  color: green;
}

.card .percantage.loss, .card .price.gain {
  color: red;
}

.delete_coin:hover {
  background-color: red;
}

.add_coin:hover {
  background-color: #36713D;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .card {
    border-radius: 4px;
    width: 200px;
    height: 100px;
  }
  .AllCard {
    display: row;
    flex-direction: flex;
    justify-content: center;
  }
  .header {
    position: fixed;
    top: 0;
    width: 100%
  }
  .logo {
    max-width: 60px;
    float: left;
  }
}

/* ================================Landing PG ============================================ */

.Total_cap {
  /* border: solid red 5px; */
  font-size: 20px;
}

.create-form {
  padding-top: 200px;
}

.DashBoard {
  padding-top: 100px;
}

.UserUpdate {
  padding-top: 200px;
}