.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.newsTitle {
  position: relative;
  width: 300px;
  height: auto;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.newsItem {
  padding-top: 200px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 40px;
  color: green;
  letter-spacing: 0.34px;
}

.currency {
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 5px;
}

.header {
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  padding: 0;
}

.logo {
  max-width: 120px;
  float: left;
}

.auth-container {
  margin: 25px auto;
  padding: 1em 1.5em;
  background: #fafafa;
  border: 1px solid hsl(0, 0%, 92%);
  border-radius: 5px;
  padding-top: 150px;
}

.form-input {
  margin: 10px 0;
  padding: 0 10px;
  width: 90%;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 20px;
}

.form-button {
  margin: 20px 0 10px 0;
  width: 20%;
  height: 55px;
  border: 1px solid #000000;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.form-button:hover {
  background-color: #36713D;
  color: white;
}

.header {
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  padding: 0;
  /* background-color: green */
}

.UserUpdate {
  min-height: 50vh;
}

#header-nav {
  float: right;
}

#header-nav li {
  display: inline;
  margin: 0 15px;
  justify-content: space-between;
}

#header-nav ul {
  justify-content: space-between;
}

#header-nav a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.landin {
  height: 50vh;
}

footer {
  text-align: center;
}

.landin {
  padding-top: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.create-form {
  padding-top: 200px;
}

.DashBoard {
  padding-top: 100px;
}

.UserUpdate {
  padding-top: 200px;
}